
<form class="needs-validation" [formGroup]="editPetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name">Name</label>
        <div class="input-group">
            <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
        <div *ngIf="name.errors?.['required'] && name.touched" class="invalid-feedback d-block" role="alert">
            Name is required
        </div>
    </div>

    <div class="mb-3">
        <label for="idCode">Code</label>
        <div class="input-group">
            <input type="text" class="form-control" id="idCode" formControlName="idCode" required>
        </div>
        <div *ngIf="idCode.errors?.['required'] && idCode.touched" class="invalid-feedback d-block" role="alert">
            Code is required
        </div>
    </div>

    <div class="mb-3">
        <label for="types">Type</label>
        <select class="form-select" id="types" formControlName="animal" required>
            <option selected disabled value>Choose...</option>
            <option [value]="animal.name" *ngFor="let animal of animalList" [ngValue]="animal">{{ animal.name }}</option>
        </select>
        <div *ngIf="animal.errors?.['required'] && animal.touched" class="invalid-feedback d-block" role="alert">
            Type is required
        </div>
    </div>
    <div class="mb-3">
        <label for="colors">Fur color</label>
        <select class="form-select" id="colors" formControlName="color" required>
            <option selected disabled value>Choose...</option>
            <option [value]="color.name" *ngFor="let color of colorList" [ngValue]="color">{{ color.name }}</option>
        </select>
        <div *ngIf="color.errors?.['required'] && color.touched" class="invalid-feedback d-block" role="alert">
            Color is required
        </div>
    </div>

    <div class="mb-3">
        <label for="countries">Country of origin</label>
        <select class="form-select" id="countries" formControlName="country" required>
            <option selected disabled value>Choose...</option>
            <option [value]="country.name" *ngFor="let country of countryList" [ngValue]="country">{{ country.name }}</option>
        </select>
        <div *ngIf="country.errors?.['required'] && country.touched" class="invalid-feedback d-block" role="alert">
            Country is required
        </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block"
            type="submit" [disabled]="!editPetForm">
        Edit Pet
    </button>

    <div class="form group mt-2">
        <div class="alert alert-danger"
            role="alert"
            *ngIf="formSubmitted && editPetFailed"> <!--SIIA ADDPOSTFAILED-->
            Edit Pet Failed: {{ errorMessage }}
        </div>  
    </div>

</form>
