<app-nav-bar></app-nav-bar>
<body class="vh-100 bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Pets</h2>
        </div>
    
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" (click)="reverseArray()">#</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                    <th scope="col" sortable="idCode" (sort)="onSort($event)">Code</th>
                    <th scope="col" sortable="animal" (sort)="onSort($event)">Type</th>
                    <th scope="col" sortable="color" (sort)="onSort($event)">Fur color</th>
                    <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
                    <th width="100" class="text-center">Edit</th>
                    <th width="100" scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pet of pets; let i = index" scope="row">
                        <th>{{ pet.id }} </th>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.idCode }}</td>
                        <td>{{ pet.animal }}</td>
                        <td>{{ pet.color }}</td>
                        <td>{{ pet.country }}</td>
                        <td>
                            <a class="btn btn-primary" (click)="edit(pet)">Edit pet</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" (click)="delete(pet)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a routerLink="/addpost" class="btn btn-primary">Add pet</a>
    </div>
</body>

<router-outlet></router-outlet>
