<app-nav-bar></app-nav-bar>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Pets</h2>
        </div>
    
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" (click)="reverseArray()">#</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                    <th scope="col" sortable="idCode" (sort)="onSort($event)">Code</th>
                    <th scope="col" sortable="animal" (sort)="onSort($event)">Type</th>
                    <th scope="col" sortable="color" (sort)="onSort($event)">Fur color</th>
                    <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pet of pets; let i = index" scope="row">
                        <th>{{ pet.id }} </th>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.idCode }}</td>
                        <td>{{ pet.animal }}</td>
                        <td>{{ pet.color }}</td>
                        <td>{{ pet.country }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit pet</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a routerLink="/addpost" class="btn btn-primary">Add pet</a>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit pet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
  
  
<!-- <app-test-component tont="lmao", tont2="Redel", tont3="hujj"></app-test-component> -->
<router-outlet></router-outlet>
